
ul.topBottomBordersOut li{
    position: relative;
}
ul.topBottomBordersOut li:before, ul.topBottomBordersOut li:after
{
    position: absolute;
    left: 0px;
    width: 90%;
    height: 2px;
    background: #016A70;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
ul.topBottomBordersOut li:before
{
    top: 0px;
    transform: translateY(10px);
}

ul.topBottomBordersOut li:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

ul.topBottomBordersOut li:hover:before, ul.topBottomBordersOut li:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}

.header-container{
    background-color: #ffffff;
}
.navbar-nav.topBottomBordersOut li a{
    color: #016A70!important;
}
.navbar a  {
    color: #016A70!important;
}
.preserve-whitespace {
    white-space: pre-line;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #002d30;
}
  
.clickable-card {
    cursor: pointer;
}
  
.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #005b61;
}
  
.card-body {
    padding: 1.5rem;
}
