.recipe-art{
    width: 80%;
    margin: 0 auto;
}
.recipe-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: center;

}
.pair{
    
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
/* // TODO: media query for mobile devices */
.pair p{
    padding: 5px 15px;
    font-size: 18px;
}
img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}